* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  overflow-y: scroll;
}
